<header>
  <div class="mobile-navbar" id="mobile-navbar"></div>

  <div
    class="burger"
    id="burger-menu"
    role="button"
>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <nav class="mobile-nav-section" id="mobile-nav">
    <ul>
      <li class="mobile-nav-btn"><a href="/index.html?page=home">Accueil</a></li>
      <li class="mobile-nav-btn">
        <a href="/index.html?page=details">Détails</a>
      </li>
      <li class="mobile-nav-btn">
     <a href="/index.html?page=favorites">Favoris</a>
      </li>
      <li class="mobile-nav-btn">
<a href="/index.html?page=contact">Contact</a>
      </li>
      <li id="mobile-cta-login">
<a href="/index.html?page=login">Connexion</a>
      </li>
    </ul>
  </nav>
</header>
