<header>
  <div class="mobile-navbar" id="mobile-navbar"></div>

  <div
    class="burger"
    id="burger-menu"
    role="button"
>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <nav class="mobile-nav-section" id="mobile-nav">
    <ul>
      <li class="mobile-nav-btn"><a href="/index.html">Accueil</a></li>
      <li class="mobile-nav-btn">
        <a href="/pages/details/details.html">Détails</a>
      </li>
      <li class="mobile-nav-btn">
        <a href="/pages/favorites/favorites.html">Favoris</a>
      </li>
      <li class="mobile-nav-btn">
        <a href="/pages/contact/contact.html">Contact</a>
      </li>
      <li id="mobile-cta-login">
        <a href="/pages/login/login.html">Connexion</a>
      </li>
    </ul>
  </nav>
</header>
