:root {
  --font-family-primary: ;
  --font-family-secondary: ;
  --color-bg-primary: ;
  --color-text-primary: ;
}



.sectBookingVisi {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sectBookingVisi p {
    text-align: center;
}