:root {
  --font-family-primary: "Roboto", sans-serif;
  --font-family-secondary: "Parisienne", cursive;
  --font-family-tertiary: "Inspiration", cursive;
  --font-family-chalk: "Cabin Sketch", cursive;
  --color-bg-primary: ;
  --color-text-primary: ;
  --opacity-overlay: rgba(255, 255, 255, 0.755);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-primary);
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-secondary);
}

.bg-texture {
  background-image: url("/images/general/texture-marble.jpg");

}

section {
  background-color: var(--opacity-overlay);
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
}
