:root {
  --font-family-primary: "Roboto", sans-serif;
  --font-family-secondary: "Parisienne", cursive;
  --font-family-tertiary: "Inspiration", cursive;
  --color-bg-primary: ;
  --color-text-primary: ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-secondary);
}

