:root {
  --font-family-primary: "Roboto", sans-serif;
  --font-family-secondary: "parisienne", cursive;
  --color-bg-primary: ;
  --color-text-primary: ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-primary);
}
