ul,
li {
  list-style: none;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
  z-index: 8;
}

.btn-logo a {
  font-family: "Inspiration", cursive;
  font-size: 2rem;
}

.nav-section {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 24px;
  border-radius: 12px;

}

.nav-btn > img {
  width: 100px;
  filter: invert(1);
  
}

.nav-btn a,
#cta-login a {
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s ease;
}

.nav-btn a {
  color: black;
  text-shadow: 2px 2px whitesmoke;
}

.nav-btn a:hover {
  color: orange;
}



#cta-login a {
  background-color: black;
  color: whitesmoke;
  padding: 8px 16px;
  border-radius: 4px;
}

#cta-login a:hover {
  color: orange;
}
