<link rel="stylesheet" href="navbar.css" />
<nav class="navbar">
  <ul class="nav-section">
    <li class="nav-btn">
      <a href="/index.html">Accueil</a>
    </li>
    <li class="nav-btn">
      <a href="/pages/details/details.html">Détails</a>
    </li>
    <li class="nav-btn">
      <a href="/pages/favorites/favorites.html">Favoris</a>
    </li>
    <li class="nav-btn">
      <a href="/pages/contact/contact.html">Contact</a>
    </li>
    <li id="cta-login">
      <a href="/pages/login/login.html">Connexion</a>
    </li>
  </ul>
</nav>
