<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <img id="logo2" src="/images/logo/LogoNoir.png" alt="" />
      <h2>AuBonResto</h2>
      <p>Explorez les meilleures tables de la ville</p>
    </div>
    <div class="footer-social">
      <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
      <a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
      <a href="#" aria-label="Twitter"><i class="fab fa-x-twitter"></i></a>
    </div>
    <div class="footer-links">

      <a href="?page=cgu">CGU</a>
      <a href="?page=contact">Contact</a>
      <a href="?page=about">À propos</a>
            <a href="?page=mentions-legales">Mentions légales</a>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 Squad Afpa. Tous droits réservés.</p>
  </div>
</footer>
