.divCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2%;
  padding-top: 100px;
}

.card {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  margin: 2%;
  margin: 0 auto;
  margin-bottom: 2%;
  text-align: center;
}

.card img {
  width: 100%;
}

.card button {
  position: absolute;
  background-color: transparent;
  top: 2px;
  right: 2px;
  border: none;
  outline: 0;
  text-align: center;
  cursor: pointer;
}

.fa-heart {
  font-size: 20px;
  cursor: pointer;
}

.fa-heart.inactive {
  color: white;
}

.fa-heart.active {
  color: red;
}

.fa-star {
  width: 7%;
  margin: 1%;
}

.btn-detail {
  color: white
}